@font-face{
    font-family: 'BebasNeueBold';
    src: (/fonts/BebasNeue-Bold.woff2) format('woff2');
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.visibility-hidden{
    display: none;
}

.conteiner{
    max-width: 1500px;
    margin: auto;
    background-size: cover;
}

header{
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 76px;
}

.header__navigation{
    display: flex;
}

.header-wrap{
    position: relative;
    width: 100%;
    min-height: 960px;
    background: url('/img/head-background.png')center no-repeat;
    background-size: cover;
    margin-top: -77px;
    z-index: -1;
}

.head{
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 76px;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 900 33.5px 'Poppins', Arial, sans-serif;
    letter-spacing: -2.51px;
    color: #f5f5f5;
    padding: 0px 20px;
}

.linea, .linea-right{
    display: inline-block;
    width: 1px;
    min-height: 76px;
    background-color: #f5f5f5;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
    width: 450px;
    padding-left: 41px;
    padding-right: 41px;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

}

.menu__list-item{
    font: 600 16px 'Montserrat', Arial, sans-serif;
    font-stretch: normal;
    line-height: 1.96;
    letter-spacing: 0.33px;
    color: #ffffff;
    padding: 0 6px;
    
}

.menu__list-item a{
    vertical-align: sub;
}

.menu__list-item a:hover, .menu__list-item a:focus{
    display: inline-block;
    background-color: #0264a3;
    border-radius: 10px;
}

.menu-right{
    display: flex;
    margin-left: auto;
}

.basket, .search{
    border-left: 1px solid #fff;
}

.list__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 296px;
    box-sizing: border-box;
    padding: 0px 25px 0px 20px;
}

.twitter, .google{
    padding-top: 4px;
}

.basket{
    width: 74px;
}

.search{
    width: 90px;
}

.basket, .search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__body-info{
    position: relative;
    top: 260px;
    left: 81px;
    width: 593px;
    text-align: center;
}

.header__body-info h1{
    font: bold 203px 'Poppins', Arial, sans-serif;
    line-height: 0.72;
    letter-spacing: -15.26px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.header__body-info p{
    font: bold 20px 'Montserrat', Arial, sans-serif;
    line-height: 1.44;
    letter-spacing: 8.2px;
    padding-left: 20px;
}

.button{
    display: inline-block;
    font: normal 17px 'Montserrat', Arial, sans-serif;
    width: 159px;
    text-transform: uppercase;
    background-color: #3954d9;
    border-radius: 21.5px;
    line-height: 1.23;
    letter-spacing: 1.05px;
    padding: 19px 26px 17px 26px;
    text-align: center;
}

.main-conteiner{
    width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 20px #827a7a;
}

.shipping{
    display: flex;
    position: relative;
    margin-top: -70px;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.shipping-item{
    width: 300px;
    min-height: 373px;
    background-color: #fff;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    color: #8a8a8a;
    padding: 70px 35px 20px 30px;
    font: normal 13px 'Montserrat', Arial, sans-serif;
    line-height: 1.85;
    text-align: center;
}

.shipping-item:first-child{
    border-left: none;
}

.shipping-item h3{
    font: bold 33px 'BebasNeueBold', Arial, sans-serif;
    line-height: 0.77;
    letter-spacing: -0.83px;
    color: #0d2e57;
}

.shipping-link{
    font-weight: bold;
    color: #3753da;
}

.offer{
    display: flex;
}

.offer-left{
    padding: 60px 33px 35px 41px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f2f0f0;
}

.offer-left h3{
    font: 600 20px 'Poppins', Arial, sans-serif;
    line-height: 1.22;
    letter-spacing: 1.03px;
    color: #616161;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.offer-left h2{
    font: bold 31px 'BebasNeueBold', Arial, sans-serif;
    line-height: 1.02;
    color: #0d2e57;
    margin: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.offer-left p{
    font: 300 18px 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.67;
    color: #8a8a8a;
    margin-bottom: 40px;
}

.price{
    margin-bottom: 55px;
}

.newprice{
    font: bold 52px 'Montserrat', Arial, sans-serif;
    color: #3954d9;
}

.oldprice{
    font: bold 32px 'Montserrat', Arial, sans-serif;
    color: #121212;
    margin-left: 50px;
    text-decoration: line-through;
}

.offer-right img{
    width: 600px;
    height: 600px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
}


.products__item{
    width: 300px;
    min-height: 300px;
    background-color: #fff;
    padding: 17px 25px 20px 15px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.products__item.left-banner{
    padding: 0;
    background-color: #000;
    padding: 50px 10px 0px 20px;
}

.products__item.right-banner{
    background: url('/img/products/banner.png') 0 0 no-repeat;
    background-size: cover;
    width: 600px;
    padding: 0;
    background-color: #000;
    padding: 50px 10px 0px 20px;
}

.products__item.right-banner h3{
    font: bold 39px 'Poppins', Arial, sans-serif;
    font-style: italic;
    line-height: 1.03;
    letter-spacing: -1.49px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 62px;
}

.products__item.left-banner h3{
    font: bold 35px 'BebasNeueBold', Arial, sans-serif;
    line-height: 1.19;
    letter-spacing: -1.49px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
}

.right-banner{
    background-color: #65cbff;
}

.products__item.left-banner p{
    font: normal 14px 'Montserrat', Arial, sans-serif;
    line-height: 1.43;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.button.products-price{
    width: 100px;
    padding: 15px 22px 15px 22px;
    font: normal 15px 'Montserrat', Arial, sans-serif;
}

.products__item img{
    width: 250px;
    height: 150px;
}

.products__item-info{
    margin-top: 30px;
}

.price.products{
    margin: 0;
}

.products__item-link{
    font: bold 25px 'Montserrat', Arial, sans-serif;
    line-height: 1.02;
    text-align: left;
    color: #0d2e57;
}

.newprice.products-price{
    font: 600 30px 'Montserrat', Arial, sans-serif;
    line-height: 1.96;
    color: #3753da;
}

.oldprice.products-price{
    font: bold 20px 'Montserrat', Arial, sans-serif;
    color: #818181;;
    margin: 0;
    margin-left: 10px;
}


.shop__link{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports__list{
    display: flex;
    flex-wrap: wrap;
}

.sports__list-item{
    position: relative;
    width: 300px;
    min-height: 300px;
    max-height: 300px;
}

.sports__list-item img{
    width: 300px;
    height: 300px;
}

.sports__list-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.56);
}

.sports__list-item:hover::before{
    background: rgba(0, 0, 0, 0);
}

.brands__list{
    display: flex;
    flex-wrap: wrap;
}

.brands__list-item{
    width: 199px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.brands__list-item:hover img{
    transform: scale(1.5);
}

.brands__list-item img{
    width: 130px;
}

.footer{
    width: 100%;
    min-height: 500px;
    background: url('/img/footer-bg.png') 0 0 repeat;
    background-color: #000;
    margin-top: -50px;
    position: absolute;
    z-index: -1;
}

.footer-conteiner{
    margin: auto;
    width: 1200px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.footer__left{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.shops h3, .social__button h3, .subscribe h3 {
    font-size: 25px;
    letter-spacing: 0.63px;
    color: #3753da;
    text-transform: uppercase;
}

.shops-item{
    margin-bottom: 15px;
}

.footer__right{
    width: 300px;
    margin-left: 60px;
}

.subscribe h3{
    font-size: 20px;
}

.social__button-list{
    display: flex;
    justify-content: space-between;
}

.social__button-list__item svg{
    width: 40px;
    height: 40px;
}

.social__button-list__item:hover circle{
    fill: #fff;
}

.social__button-list__item:hover path{
    fill: #000;
}


.subscribe input[type="email"]{
    background-color: #2f2f2f;
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline:none;
}

.subscribe button{
    font: normal 16x 'Montserrat', Arial, sans-serif;
    background: #3954d9;
    padding: 7px 40px;
    border: 1px solid #414c86;
    border-radius: 15px;
    color: #fff;
    outline:none;
}


